DATA CLEANING & TRANSFORMATION

In [49]:
import pandas as pd # For data manipulation and analysis
import numpy as nm # For numerical operations and arrays
from datetime import datetime # For working with dates and times

In [50]:
# Load the CSV file into a pandas DataFrame
file_path = "C:\\Users\\HP\\Desktop\\Fitness_Membership_Analytics_Dataset.csv"
df = pd.read_csv(file_path)

In [51]:
# Display the number of rows and columns in the DataFrame
print("shape", df.shape)

shape (1998, 26)

In [52]:
# Display the first 5 rows of the DataFrame
df.head()

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,discount_rate,final_price,access_hours,home_gym_location,latitude,longitude,join_date,personal_training_hours,multi_location_access,last_visit_date
0,40,Premium,2,"Sat, Thu",False,08:39:00,10:37:00,118,False,False,...,0.05,47.5,All hours,"San Jose, CA",37.3382,-121.8863,2024-05-20,0,True,2025-06-30
1,35,Standard,5,"Fri, Sat, Thu, Tue, Wed",True,15:45:00,18:43:00,178,False,False,...,0.00,30.0,Weekdays only,"Fresno, CA",36.7378,-119.7871,2022-09-14,0,False,2025-05-26
2,39,Standard,4,"Sun, Thu, Tue, Wed",True,13:35:00,14:37:00,62,True,True,...,0.10,27.0,Weekdays only,"Oakland, CA",37.8044,-122.2712,2023-05-05,4,False,2025-06-09
3,35,Basic,2,"Mon, Tue",False,17:06:00,18:39:00,93,True,True,...,0.00,20.0,Off-peak only,"Anaheim, CA",33.8366,-117.9143,2023-09-24,7,False,2025-06-17
4,18,Standard,2,"Sun, Wed",False,14:16:00,16:57:00,161,True,True,...,0.10,27.0,Weekdays only,"Sacramento, CA",38.5816,-121.4944,2025-01-07,3,True,2025-07-13

In [53]:
df.info() # Display summary of DataFrame structure, column types, and non-null counts
df.describe() # Generate descriptive statistics for numeric columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1998 non-null   int64
 1   membership_type          1998 non-null   object
 2   visit_per_week           1998 non-null   int64
 3   days_per_week            1998 non-null   object
 4   attend_group_lesson      1998 non-null   bool
 5   avg_time_check_in        1998 non-null   object
 6   avg_time_check_out       1998 non-null   object
 7   duration_in_gym_minutes  1998 non-null   int64
 8   has_drink_subscription   1998 non-null   bool
 9   personal_training        1998 non-null   bool
 10  uses_sauna               1998 non-null   bool
 11  self_identified_gender   1998 non-null   object
 12  subscription_price       1998 non-null   int64
 13  subscription_model       1998 non-null   object
 14  adjusted_price           1998 non-null   float64
 15  discount_type            1158 non-null   object
 16  discount_rate            1998 non-null   float64
 17  final_price              1998 non-null   float64
 18  access_hours             1998 non-null   object
 19  home_gym_location        1998 non-null   object
 20  latitude                 1998 non-null   float64
 21  longitude                1998 non-null   float64
 22  join_date                1998 non-null   object
 23  personal_training_hours  1998 non-null   int64
 24  multi_location_access    1998 non-null   bool
 25  last_visit_date          1998 non-null   object
dtypes: bool(5), float64(5), int64(5), object(11)
memory usage: 337.7+ KB

,age,visit_per_week,duration_in_gym_minutes,subscription_price,adjusted_price,discount_rate,final_price,latitude,longitude,personal_training_hours
count,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000
mean,30.591091,2.676176,104.818819,40.140140,36.596847,0.057858,34.471384,35.818505,-119.801068,2.305806
std,10.740041,1.234110,43.363542,15.457645,14.860914,0.058296,14.266186,1.994180,1.864262,2.758167
min,12.000000,1.000000,30.000000,20.000000,15.000000,0.000000,12.750000,32.715700,-122.419400,0.000000
25%,21.000000,2.000000,67.000000,30.000000,22.500000,0.000000,22.500000,33.836600,-121.886300,0.000000
50%,30.000000,3.000000,103.000000,50.000000,37.500000,0.050000,31.875000,36.737800,-119.787100,1.000000
75%,40.000000,3.000000,142.000000,50.000000,50.000000,0.100000,45.000000,37.774900,-118.193700,5.000000
max,49.000000,5.000000,180.000000,70.000000,70.000000,0.150000,70.000000,38.581600,-117.161100,8.000000

In [54]:
# Display the entire DataFrame
df

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,discount_rate,final_price,access_hours,home_gym_location,latitude,longitude,join_date,personal_training_hours,multi_location_access,last_visit_date
0,40,Premium,2,"Sat, Thu",False,08:39:00,10:37:00,118,False,False,...,0.05,47.50,All hours,"San Jose, CA",37.3382,-121.8863,2024-05-20,0,True,2025-06-30
1,35,Standard,5,"Fri, Sat, Thu, Tue, Wed",True,15:45:00,18:43:00,178,False,False,...,0.00,30.00,Weekdays only,"Fresno, CA",36.7378,-119.7871,2022-09-14,0,False,2025-05-26
2,39,Standard,4,"Sun, Thu, Tue, Wed",True,13:35:00,14:37:00,62,True,True,...,0.10,27.00,Weekdays only,"Oakland, CA",37.8044,-122.2712,2023-05-05,4,False,2025-06-09
3,35,Basic,2,"Mon, Tue",False,17:06:00,18:39:00,93,True,True,...,0.00,20.00,Off-peak only,"Anaheim, CA",33.8366,-117.9143,2023-09-24,7,False,2025-06-17
4,18,Standard,2,"Sun, Wed",False,14:16:00,16:57:00,161,True,True,...,0.10,27.00,Weekdays only,"Sacramento, CA",38.5816,-121.4944,2025-01-07,3,True,2025-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,12,Premium,2,"Sun, Thu",True,10:42:00,12:12:00,90,False,False,...,0.10,33.75,All hours,"San Diego, CA",32.7157,-117.1611,2023-07-24,0,True,2025-06-13
1994,16,Standard,2,"Fri, Thu",False,11:43:00,12:52:00,69,False,False,...,0.15,25.50,Weekdays only,"Bakersfield, CA",35.3733,-119.0187,2022-09-08,0,False,2025-05-26
1995,24,Elite,4,"Fri, Sat, Sun, Tue",False,15:28:00,16:34:00,66,False,True,...,0.10,63.00,All hours + Priority access,"Fresno, CA",36.7378,-119.7871,2025-04-10,7,True,2025-07-18
1996,20,Basic,3,"Mon, Sat, Tue",True,08:53:00,11:11:00,138,False,True,...,0.05,19.00,Off-peak only,"Fresno, CA",36.7378,-119.7871,2025-04-23,8,False,2025-07-19
1997,19,Standard,4,"Fri, Mon, Tue, Wed",False,19:07:00,20:06:00,59,True,True,...,0.10,27.00,Weekdays only,"Fresno, CA",36.7378,-119.7871,2024-08-26,2,False,2025-07-06

In [55]:
# Display the data type of each column in the DataFrame
print(df.dtypes)

age                          int64
membership_type             object
visit_per_week               int64
days_per_week               object
attend_group_lesson           bool
avg_time_check_in           object
avg_time_check_out          object
duration_in_gym_minutes      int64
has_drink_subscription        bool
personal_training             bool
uses_sauna                    bool
self_identified_gender      object
subscription_price           int64
subscription_model          object
adjusted_price             float64
discount_type               object
discount_rate              float64
final_price                float64
access_hours                object
home_gym_location           object
latitude                   float64
longitude                  float64
join_date                   object
personal_training_hours      int64
multi_location_access         bool
last_visit_date             object
dtype: object

In [56]:
# Convert check-in times to time objects
df["avg_time_check_in"] = pd.to_datetime(df["avg_time_check_in"],  format="%H:%M:%S").dt.time

# Convert check-out times to time objects
df["avg_time_check_out"] = pd.to_datetime(df["avg_time_check_out"],  format="%H:%M:%S").dt.time

In [57]:
# Remove extra spaces and convert selected columns to title case
clean_col = ['membership_type','subscription_model','home_gym_location','access_hours']
for col in clean_col:
    df[col] = df[col].astype(str).str.strip().str.title()

# Clean discount_type: remove spaces, replace 'Nan' , 'None' and nan with empty string
df['discount_type'] = df['discount_type'].astype(str).str.strip().replace({'Nan':'', 'None':'','nan': ''})

In [58]:
# Display the 'membership_type' column
df["membership_type"]

0        Premium
1       Standard
2       Standard
3          Basic
4       Standard
          ...
1993     Premium
1994    Standard
1995       Elite
1996       Basic
1997    Standard
Name: membership_type, Length: 1998, dtype: object

In [59]:
# Display the 'subscription_model' column
df["subscription_model"]

0                   Monthly
1                   Monthly
2                   Monthly
3                   Monthly
4                   Monthly
               ...
1993    Early Bird (Annual)
1994                Monthly
1995                Monthly
1996                Monthly
1997                Monthly
Name: subscription_model, Length: 1998, dtype: object

In [60]:
# Display the 'home_gym_location' column
df["home_gym_location"]

0          San Jose, Ca
1            Fresno, Ca
2           Oakland, Ca
3           Anaheim, Ca
4        Sacramento, Ca
             ...
1993      San Diego, Ca
1994    Bakersfield, Ca
1995         Fresno, Ca
1996         Fresno, Ca
1997         Fresno, Ca
Name: home_gym_location, Length: 1998, dtype: object

In [61]:
# Display the 'access_hours' column
df["access_hours"]

0                         All Hours
1                     Weekdays Only
2                     Weekdays Only
3                     Off-Peak Only
4                     Weekdays Only
                   ...
1993                      All Hours
1994                  Weekdays Only
1995    All Hours + Priority Access
1996                  Off-Peak Only
1997                  Weekdays Only
Name: access_hours, Length: 1998, dtype: object

In [62]:
# Display the 'discount_type' column
df["discount_type"]

0         Promo
1
2       Loyalty
3
4       Loyalty
         ...
1993    Loyalty
1994    Student
1995    Loyalty
1996      Promo
1997    Loyalty
Name: discount_type, Length: 1998, dtype: object

In [63]:
# Count the number of missing values in the 'age' column
df["age"].isnull().sum()

np.int64(0)

In [64]:
# Convert a Series to nullable boolean values (True/False/NA) based on common text representations
def to_nullable_boolean(series):
    s = series.copy()
    s = s.astype(str).str.strip().str.lower().str.replace({
        "true": True, "false": False,
        "yes": True, "no": False,
        "1": True, "2": False,
        "nan": pd.NA, "none": pd.NA, "": pd.NA
    })

In [65]:
# Remove duplicate rows from the DataFrame
df.drop_duplicates()

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,discount_rate,final_price,access_hours,home_gym_location,latitude,longitude,join_date,personal_training_hours,multi_location_access,last_visit_date
0,40,Premium,2,"Sat, Thu",False,08:39:00,10:37:00,118,False,False,...,0.05,47.50,All Hours,"San Jose, Ca",37.3382,-121.8863,2024-05-20,0,True,2025-06-30
1,35,Standard,5,"Fri, Sat, Thu, Tue, Wed",True,15:45:00,18:43:00,178,False,False,...,0.00,30.00,Weekdays Only,"Fresno, Ca",36.7378,-119.7871,2022-09-14,0,False,2025-05-26
2,39,Standard,4,"Sun, Thu, Tue, Wed",True,13:35:00,14:37:00,62,True,True,...,0.10,27.00,Weekdays Only,"Oakland, Ca",37.8044,-122.2712,2023-05-05,4,False,2025-06-09
3,35,Basic,2,"Mon, Tue",False,17:06:00,18:39:00,93,True,True,...,0.00,20.00,Off-Peak Only,"Anaheim, Ca",33.8366,-117.9143,2023-09-24,7,False,2025-06-17
4,18,Standard,2,"Sun, Wed",False,14:16:00,16:57:00,161,True,True,...,0.10,27.00,Weekdays Only,"Sacramento, Ca",38.5816,-121.4944,2025-01-07,3,True,2025-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,12,Premium,2,"Sun, Thu",True,10:42:00,12:12:00,90,False,False,...,0.10,33.75,All Hours,"San Diego, Ca",32.7157,-117.1611,2023-07-24,0,True,2025-06-13
1994,16,Standard,2,"Fri, Thu",False,11:43:00,12:52:00,69,False,False,...,0.15,25.50,Weekdays Only,"Bakersfield, Ca",35.3733,-119.0187,2022-09-08,0,False,2025-05-26
1995,24,Elite,4,"Fri, Sat, Sun, Tue",False,15:28:00,16:34:00,66,False,True,...,0.10,63.00,All Hours + Priority Access,"Fresno, Ca",36.7378,-119.7871,2025-04-10,7,True,2025-07-18
1996,20,Basic,3,"Mon, Sat, Tue",True,08:53:00,11:11:00,138,False,True,...,0.05,19.00,Off-Peak Only,"Fresno, Ca",36.7378,-119.7871,2025-04-23,8,False,2025-07-19
1997,19,Standard,4,"Fri, Mon, Tue, Wed",False,19:07:00,20:06:00,59,True,True,...,0.10,27.00,Weekdays Only,"Fresno, Ca",36.7378,-119.7871,2024-08-26,2,False,2025-07-06

In [66]:
df

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,discount_rate,final_price,access_hours,home_gym_location,latitude,longitude,join_date,personal_training_hours,multi_location_access,last_visit_date
0,40,Premium,2,"Sat, Thu",False,08:39:00,10:37:00,118,False,False,...,0.05,47.50,All Hours,"San Jose, Ca",37.3382,-121.8863,2024-05-20,0,True,2025-06-30
1,35,Standard,5,"Fri, Sat, Thu, Tue, Wed",True,15:45:00,18:43:00,178,False,False,...,0.00,30.00,Weekdays Only,"Fresno, Ca",36.7378,-119.7871,2022-09-14,0,False,2025-05-26
2,39,Standard,4,"Sun, Thu, Tue, Wed",True,13:35:00,14:37:00,62,True,True,...,0.10,27.00,Weekdays Only,"Oakland, Ca",37.8044,-122.2712,2023-05-05,4,False,2025-06-09
3,35,Basic,2,"Mon, Tue",False,17:06:00,18:39:00,93,True,True,...,0.00,20.00,Off-Peak Only,"Anaheim, Ca",33.8366,-117.9143,2023-09-24,7,False,2025-06-17
4,18,Standard,2,"Sun, Wed",False,14:16:00,16:57:00,161,True,True,...,0.10,27.00,Weekdays Only,"Sacramento, Ca",38.5816,-121.4944,2025-01-07,3,True,2025-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,12,Premium,2,"Sun, Thu",True,10:42:00,12:12:00,90,False,False,...,0.10,33.75,All Hours,"San Diego, Ca",32.7157,-117.1611,2023-07-24,0,True,2025-06-13
1994,16,Standard,2,"Fri, Thu",False,11:43:00,12:52:00,69,False,False,...,0.15,25.50,Weekdays Only,"Bakersfield, Ca",35.3733,-119.0187,2022-09-08,0,False,2025-05-26
1995,24,Elite,4,"Fri, Sat, Sun, Tue",False,15:28:00,16:34:00,66,False,True,...,0.10,63.00,All Hours + Priority Access,"Fresno, Ca",36.7378,-119.7871,2025-04-10,7,True,2025-07-18
1996,20,Basic,3,"Mon, Sat, Tue",True,08:53:00,11:11:00,138,False,True,...,0.05,19.00,Off-Peak Only,"Fresno, Ca",36.7378,-119.7871,2025-04-23,8,False,2025-07-19
1997,19,Standard,4,"Fri, Mon, Tue, Wed",False,19:07:00,20:06:00,59,True,True,...,0.10,27.00,Weekdays Only,"Fresno, Ca",36.7378,-119.7871,2024-08-26,2,False,2025-07-06

FEATURE ENGINEERING

In [67]:
# membership_tenure_months = months between join_date and today.

df["join_date"] = pd.to_datetime(df["join_date"])
today = pd.to_datetime(datetime.today().date())  
df["membership_tenure_months"] = (
    (today.year - df["join_date"].dt.year) * 12 +
    (today.month - df["join_date"].dt.month)
)
df["membership_tenure_months"]

0       15
1       35
2       27
3       23
4        7
        ..
1993    25
1994    35
1995     4
1996     4
1997    12
Name: membership_tenure_months, Length: 1998, dtype: int32

In [68]:
# Ensure last_visit_date is in datetime format
df["last_visit_date"] = pd.to_datetime(df["last_visit_date"], errors="coerce")

# Get today's date
today = pd.to_datetime(datetime.today().date())

# Calculate days since last visit (handle missing values)
df["days_since_last_visit"] = (today - df["last_visit_date"]).dt.days
df["days_since_last_visit"]

0       51
1       86
2       72
3       64
4       38
        ..
1993    68
1994    86
1995    33
1996    32
1997    45
Name: days_since_last_visit, Length: 1998, dtype: int64

In [69]:
 df["total_visits_per_month"] = df["visit_per_week"] * 4
df["total_visits_per_month"]

0        8
1       20
2       16
3        8
4        8
        ..
1993     8
1994     8
1995    16
1996    12
1997    16
Name: total_visits_per_month, Length: 1998, dtype: int64

In [70]:
df["average_visit_duration_hours"] = (df["duration_in_gym_minutes"] / 60).round(1)
df["average_visit_duration_hours"]

0       2.0
1       3.0
2       1.0
3       1.6
4       2.7
       ...
1993    1.5
1994    1.2
1995    1.1
1996    2.3
1997    1.0
Name: average_visit_duration_hours, Length: 1998, dtype: float64

In [83]:
df["discount_amount"] = (df["adjusted_price"] - df["final_price"]).round(2)
df["discount_amount"]

0       2.50
1       0.00
2       3.00
3       0.00
4       3.00
        ...
1993    3.75
1994    4.50
1995    7.00
1996    1.00
1997    3.00
Name: discount_amount, Length: 1998, dtype: float64

In [72]:
df["is_churned"] = (df["days_since_last_visit"] > 60).astype(int)
df["is_churned"]

0       0
1       1
2       1
3       1
4       0
       ..
1993    1
1994    1
1995    0
1996    0
1997    0
Name: is_churned, Length: 1998, dtype: int64

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           1998 non-null   int64
 1   membership_type               1998 non-null   object
 2   visit_per_week                1998 non-null   int64
 3   days_per_week                 1998 non-null   object
 4   attend_group_lesson           1998 non-null   bool
 5   avg_time_check_in             1998 non-null   object
 6   avg_time_check_out            1998 non-null   object
 7   duration_in_gym_minutes       1998 non-null   int64
 8   has_drink_subscription        1998 non-null   bool
 9   personal_training             1998 non-null   bool
 10  uses_sauna                    1998 non-null   bool
 11  self_identified_gender        1998 non-null   object
 12  subscription_price            1998 non-null   int64
 13  subscription_model            1998 non-null   object
 14  adjusted_price                1998 non-null   float64
 15  discount_type                 1998 non-null   object
 16  discount_rate                 1998 non-null   float64
 17  final_price                   1998 non-null   float64
 18  access_hours                  1998 non-null   object
 19  home_gym_location             1998 non-null   object
 20  latitude                      1998 non-null   float64
 21  longitude                     1998 non-null   float64
 22  join_date                     1998 non-null   datetime64[ns]
 23  personal_training_hours       1998 non-null   int64
 24  multi_location_access         1998 non-null   bool
 25  last_visit_date               1998 non-null   datetime64[ns]
 26  membership_tenure_months      1998 non-null   int32
 27  days_since_last_visit         1998 non-null   int64
 28  total_visits_per_month        1998 non-null   int64
 29  average_visit_duration_hours  1998 non-null   float64
 30  discount_amount               1998 non-null   float64
 31  is_churned                    1998 non-null   int64
dtypes: bool(5), datetime64[ns](2), float64(7), int32(1), int64(8), object(9)
memory usage: 423.5+ KB

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           1998 non-null   int64
 1   membership_type               1998 non-null   object
 2   visit_per_week                1998 non-null   int64
 3   days_per_week                 1998 non-null   object
 4   attend_group_lesson           1998 non-null   bool
 5   avg_time_check_in             1998 non-null   object
 6   avg_time_check_out            1998 non-null   object
 7   duration_in_gym_minutes       1998 non-null   int64
 8   has_drink_subscription        1998 non-null   bool
 9   personal_training             1998 non-null   bool
 10  uses_sauna                    1998 non-null   bool
 11  self_identified_gender        1998 non-null   object
 12  subscription_price            1998 non-null   int64
 13  subscription_model            1998 non-null   object
 14  adjusted_price                1998 non-null   float64
 15  discount_type                 1998 non-null   object
 16  discount_rate                 1998 non-null   float64
 17  final_price                   1998 non-null   float64
 18  access_hours                  1998 non-null   object
 19  home_gym_location             1998 non-null   object
 20  latitude                      1998 non-null   float64
 21  longitude                     1998 non-null   float64
 22  join_date                     1998 non-null   datetime64[ns]
 23  personal_training_hours       1998 non-null   int64
 24  multi_location_access         1998 non-null   bool
 25  last_visit_date               1998 non-null   datetime64[ns]
 26  membership_tenure_months      1998 non-null   int32
 27  days_since_last_visit         1998 non-null   int64
 28  total_visits_per_month        1998 non-null   int64
 29  average_visit_duration_hours  1998 non-null   float64
 30  discount_amount               1998 non-null   float64
 31  is_churned                    1998 non-null   int64
dtypes: bool(5), datetime64[ns](2), float64(7), int32(1), int64(8), object(9)
memory usage: 423.5+ KB

In [75]:
q3 = df["final_price"].quantile(0.75)
df["is_high_value_member"] = (df["final_price"] > q3).astype(int)
df["is_high_value_member"]

0       1
1       0
2       0
3       0
4       0
       ..
1993    0
1994    0
1995    1
1996    0
1997    0
Name: is_high_value_member, Length: 1998, dtype: int64

In [94]:
df.to_csv("fitness_cleaned.csv", index=False)

In [77]:
df[["city", "country"]] = df["home_gym_location"].str.split(",", expand=True)

In [78]:
df

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,last_visit_date,membership_tenure_months,days_since_last_visit,total_visits_per_month,average_visit_duration_hours,discount_amount,is_churned,is_high_value_member,city,country
0,40,Premium,2,"Sat, Thu",False,08:39:00,10:37:00,118,False,False,...,2025-06-30,15,51,8,2.0,2.50,0,1,San Jose,Ca
1,35,Standard,5,"Fri, Sat, Thu, Tue, Wed",True,15:45:00,18:43:00,178,False,False,...,2025-05-26,35,86,20,3.0,0.00,1,0,Fresno,Ca
2,39,Standard,4,"Sun, Thu, Tue, Wed",True,13:35:00,14:37:00,62,True,True,...,2025-06-09,27,72,16,1.0,3.00,1,0,Oakland,Ca
3,35,Basic,2,"Mon, Tue",False,17:06:00,18:39:00,93,True,True,...,2025-06-17,23,64,8,1.6,0.00,1,0,Anaheim,Ca
4,18,Standard,2,"Sun, Wed",False,14:16:00,16:57:00,161,True,True,...,2025-07-13,7,38,8,2.7,3.00,0,0,Sacramento,Ca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,12,Premium,2,"Sun, Thu",True,10:42:00,12:12:00,90,False,False,...,2025-06-13,25,68,8,1.5,3.75,1,0,San Diego,Ca
1994,16,Standard,2,"Fri, Thu",False,11:43:00,12:52:00,69,False,False,...,2025-05-26,35,86,8,1.2,4.50,1,0,Bakersfield,Ca
1995,24,Elite,4,"Fri, Sat, Sun, Tue",False,15:28:00,16:34:00,66,False,True,...,2025-07-18,4,33,16,1.1,7.00,0,1,Fresno,Ca
1996,20,Basic,3,"Mon, Sat, Tue",True,08:53:00,11:11:00,138,False,True,...,2025-07-19,4,32,12,2.3,1.00,0,0,Fresno,Ca
1997,19,Standard,4,"Fri, Mon, Tue, Wed",False,19:07:00,20:06:00,59,True,True,...,2025-07-06,12,45,16,1.0,3.00,0,0,Fresno,Ca

In [79]:
df.tail()

,age,membership_type,visit_per_week,days_per_week,attend_group_lesson,avg_time_check_in,avg_time_check_out,duration_in_gym_minutes,has_drink_subscription,personal_training,...,last_visit_date,membership_tenure_months,days_since_last_visit,total_visits_per_month,average_visit_duration_hours,discount_amount,is_churned,is_high_value_member,city,country
1993,12,Premium,2,"Sun, Thu",True,10:42:00,12:12:00,90,False,False,...,2025-06-13,25,68,8,1.5,3.75,1,0,San Diego,Ca
1994,16,Standard,2,"Fri, Thu",False,11:43:00,12:52:00,69,False,False,...,2025-05-26,35,86,8,1.2,4.50,1,0,Bakersfield,Ca
1995,24,Elite,4,"Fri, Sat, Sun, Tue",False,15:28:00,16:34:00,66,False,True,...,2025-07-18,4,33,16,1.1,7.00,0,1,Fresno,Ca
1996,20,Basic,3,"Mon, Sat, Tue",True,08:53:00,11:11:00,138,False,True,...,2025-07-19,4,32,12,2.3,1.00,0,0,Fresno,Ca
1997,19,Standard,4,"Fri, Mon, Tue, Wed",False,19:07:00,20:06:00,59,True,True,...,2025-07-06,12,45,16,1.0,3.00,0,0,Fresno,Ca

In [80]:
df = df.rename(columns={"country": "home_state", "city": "home_city"})

In [81]:
df["home_city"] = df["home_city"].str.title()
df["home_state"] = df["home_state"].str.upper()

In [93]:
df["discount_type"] = df["discount_type"].replace("", pd.NA).fillna("No Discount")
df["discount_type"]

0             Promo
1       No Discount
2           Loyalty
3       No Discount
4           Loyalty
           ...
1993        Loyalty
1994        Student
1995        Loyalty
1996          Promo
1997        Loyalty
Name: discount_type, Length: 1998, dtype: object